In [12]:
import mysql.connector

In [13]:
# Connect to server
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="Poli@FSA1782")

In [14]:
# Get a cursor
cur = cnx.cursor()

In [15]:
# Execute a query
cur.execute("SHOW DATABASES")

In [17]:
for db in cur:
    print(db)

('angajati',)
('baza_de_date_4',)
('facultate',)
('geografie',)
('information_schema',)
('library',)
('movies',)
('mydb',)
('mysql',)
('online_store',)
('performance_schema',)
('personal',)
('prima_baza_de_date',)
('python_created_db',)
('sys',)
('universitate',)
('vremea',)

In [18]:
cur.execute('USE universitate')

In [20]:
cur.execute('INSERT INTO profesor SET nume = "Guido", prenume = "Van Rossum", data_nasterii ="1965-01-31", adresa=1')

In [21]:
cur.execute("SELECT * FROM profesor")
for prof in cur:
    print(prof)

(1, 'Popescu', 'Gica', 1, datetime.date(1964, 2, 1), 'I')
(2, 'Marin', 'Andreea', 1, datetime.date(1989, 12, 30), 'II')
(3, 'Florescu', 'Ioan', 1, datetime.date(1989, 1, 30), 'II')
(4, 'Ionescu', 'Florina', 1, datetime.date(1989, 11, 19), 'III')
(6, 'Baturalp', 'Ece', 1, datetime.date(1968, 1, 7), 'I')
(7, 'Hagele', 'Kate', 1, datetime.date(1985, 4, 14), 'I')
(8, 'Vernekar', 'Baljiwan', 1, datetime.date(1948, 3, 7), 'I')
(9, 'Wilson', 'Isabella', 1, datetime.date(1988, 5, 13), 'I')
(10, 'Yanovich', 'Ievfrosiniya', 1, datetime.date(1950, 12, 30), 'I')
(11, 'da Rocha', 'Acilino', 1, datetime.date(1946, 5, 23), 'I')
(12, 'Hieber', 'Margrit', 1, datetime.date(2000, 7, 12), 'I')
(13, 'Macdonald', 'Brielle', 1, datetime.date(1984, 12, 20), 'I')
(14, 'Rajala', 'Matilda', 1, datetime.date(1961, 8, 13), 'I')
(15, 'Nielsen', 'Freja', 1, datetime.date(1994, 6, 14), 'I')
(17, 'Guido', 'Van Rossum', 1, datetime.date(1965, 1, 31), 'I')

In [22]:
cnx.commit()

In [23]:
# Close connection
cur.close()
cnx.close()